## Server packages
pyaudio
pycryptodome

# Audio model packages
datasets
librosa
numpy
sentencepiece
transformers

# Translator
# googletrans==4.0.0-rc1 # Replaced due to httpx version conflict
deep-translator
httpx>=0.24.1 # 满足gradio_client的需求

# Whisper Audio RT
pyaudio
SpeechRecognition
--index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchaudio
git+https://github.com/openai/whisper.git

# GPT-SoVITS client
gradio_client

# Jupyter notebooks
ipython
ipykernel
